/*
#styleguide
基本スタイル

```
<p>特に何も指定しないときの状態</p>
```
*/
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: $font-smoothing;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: $font-smoothing;
  text-rendering: $text-rendering;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-font-color;
  background-color: $base-background-color;
}

section {
  width: 100vw;

  .container {
    max-width: 960px;
    margin: 0 auto 40px;
  }
}

.align-center {
  text-align: center;
}

@media(max-width: 750px){
  section {
    width: 100vw;
    .container {
      width: 96%;
      margin-left: 2%;
    }
  }
}
