<header class="header">
  <div class="logo-container">
    <img src="assets/images/header-logo.png">
  </div>
  <input id="nav-input" type="checkbox" class="nav-input unshown">
  <label class="nav-open" for="nav-input">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <label for="nav-input" class="nav-close unshown"></label>
  <nav class="header-nav">
    <ul>
      <li><a href="event.html">event</a></li>
      <li><a href="about.html">about</a></li>
      <li><a href="sponser.html">sponsor</a></li>
      <li><a href="entry.html">entry</a></li>
    </ul>
  </nav>
</header>
