<header class="header">
  <div class="logo-container">
    <img src="assets/images/tetsuson-logo.png">
  </div>
  <input id="nav-input" type="checkbox" class="nav-input unshown">
  <label class="nav-open" for="nav-input">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <label for="nav-input" class="nav-close unshown"></label>
  <nav class="header-nav">
    <ul>
      <li><a href="">event</a></li>
      <li><a href="">about</a></li>
      <li><a href="">sponsor</a></li>
      <li><a href="">entry</a></li>
    </ul>
  </nav>
</header>

<h3>イベント紹介</h3>
