<section id="about">
  <h1>ABOUT</h1>
  <h2>theme</h2>
  <div class="container">
    <p class="text-center margin-bottom-40 line-40">
      今年度の TETSUSON テーマは「結ぶ」。<br>
      出展者様、お客様、企業の方々、<br class="is-sp">会場を貸していただける方々、<br class="is-pc">
      我々スタッフ等、 <br class="is-sp">様々な人との出会いやつながりが<br class="is-sp"> TETSUSON にはあります。<br>
      そしてこの結びつきはこれから先も<br class="is-sp">色々な可能性を秘めています。<br>
      TETSUSON2018 はこの大切なご縁を<br class="is-sp">結ぶ場でありたい。<br>
      そんな願いを込めたテーマです。<br>
    </p>
    <p class="text-center margin-bottom-40 line-40">
      テーマより、人それぞれが時に喜び、<br class="is-sp">時に苦しんで歩んできた道を1本の紐に例え、<br>
      TETSUSONという作品で結びついていることを表現し、<br>
      今年度のメインビジュアルとしました。
    </p>
  </div>
  <h2>for exhibitor</h2>
  <p class="h-ruby margin-bottom-40">出展者へのメリット</p>
  <div class="container text-center">
    <p class="merit-title"><span>1. 全国のクリエイティブな学生との交流</span></p>
    <p class="merit-description">全国からさまざまなジャンルの作品、異なる感性の人たちが集まるため新しい発見があるかも...!</p>
    <p class="merit-title"><span>2. 公開審査では、プロの方からのフィードバック</span></p>
    <p class="merit-description">実際に現場で働く、または活動をしている方々から個々に意見をいただけます。<br>
    審査員の方々も異なるジャンルを専門にされています。</p>
    <p class="merit-title"><span>3. 日韓交流</span></p>
    <p class="merit-description">韓国からも出展があるため、国外の作品や考え方に触れたい方はぜひ！</p>
  </div>
  <h2>staff</h2>
  <div class="container text-center">
    <p class="line-40 margin-bottom-20">TETSUSON2018を運営を行っているメンバーです。<br>
    全国の学生から有志の学生が集まっています</p>
    <div class="staff-container margin-bottom-40">
      <div class='staff-block'>
        <img src='assets/images/staff/成瀬駿汰_代表.png'>
        <div class='staff-description'>
          <p class='staff-role'>代表</p>
          <span class='staff-name'>成瀬駿太</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/高籏礼子_代表班.png'>
        <div class='staff-description'>
          <p class='staff-role'>副代表</p>
          <span class='staff-name'>高籏礼子</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/宇佐美日苗_会場班.JPG'>
        <div class='staff-description'>
          <p class='staff-role'>会場班</p>
          <span class='staff-name'>宇佐美日苗</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/境田絵美_会場.png'>
        <div class='staff-description'>
          <p class='staff-role'>会場班</p>
          <span class='staff-name'>境田絵美</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/田山結衣_会場班.PNG'>
        <div class='staff-description'>
          <p class='staff-role'>会場班</p>
          <span class='staff-name'>田山結衣</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/野田恵由_会場.png'>
        <div class='staff-description'>
          <p class='staff-role'>会場班</p>
          <span class='staff-name'>野田恵由</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/大高龍河_広報・会場.PNG'>
        <div class='staff-description'>
          <p class='staff-role'>広報・会場班</p>
          <span class='staff-name'>大高龍河</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/稲葉琴音_制作.png'>
        <div class='staff-description'>
          <p class='staff-role'>制作班</p>
          <span class='staff-name'>稲葉琴音</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/山下萌音_制作班.png'>
        <div class='staff-description'>
          <p class='staff-role'>制作班</p>
          <span class='staff-name'>山下萌音</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/加藤優奈_WEB制作班.jpg'>
        <div class='staff-description'>
          <p class='staff-role'>WEB制作</p>
          <span class='staff-name'>加藤優奈</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/上田すなお_web制作班.jpg'>
        <div class='staff-description'>
          <p class='staff-role'>WEB制作</p>
          <span class='staff-name'>上田すなお</span>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$(function(){
  $('.staff-block').on({
    'mouseenter':function(){
      $(this).find('.staff-description').fadeIn()
    },
    'mouseleave':function(){
      $(this).find('.staff-description').fadeOut()
    }
  });
});
</script>
