<section id="about" class="company">
  <h1>ABOUT</h1>
  <h2>theme</h2>
  <div class="container">
    <p>
      今年度の TETSUSON テーマは「結ぶ」。
      出展者様、お客様、企業の方々、会場を貸していただける方々、
      我々スタッフ等、 様々な人との出会いやつながりが TETSUSON にはあります。
      そしてこの結びつきはこれから先も色々な可能性を秘めています。
      TETSUSON2018 はこの大切なご縁を結ぶ場でありたい。
      そんな願いを込めたテーマです。
    </p>
    <p>
      テーマより、人それぞれが時に喜び、時に苦しんで歩んできた道を1本の紐に例え、
      TETSUSON という作品で結びついていることを表現し、
      今年度のメインビジュアルとしました。
    </p>
      <h4>For exhibitor</h4>
      出展者メリット
      <ol>
      <li>全国のクリエイティブな学生との交流</li>
      <p>全国からさまざまなジャンルの作品、異なる感性の人たちが集まるため新しい発見があるかも...!</p>
      <li>公開審査では、プロの方からのフィードバック</li>
      <p>実際に現場で働く、または活動をしている方々から個々に意見をいただけます。<br>
        審査員の方々も異なるジャンルを専門にされています。</p>
      <li>日韓交流</li>
      <p>韓国からも出展があるため、国外の作品や考え方に触れたい方はぜひ！</p>
    </ol>
    </p>
  </div>
  <h2>staff</h2>
  <p>TETSUSON2018を運営を行っているメンバーです。<br>
  全国の学生から有志の学生が集まっています</p>
</section>
