<section id="access">
  <h1>ACCESS</h1>
  <div class="container">
    <h4>開催場所</h4>
    <p class="name">3331 Arts Chiyoda <br class="is-sp">メインギャラリー</p>
      <p class="address">住所: <a href="http://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E5%A4%96%E7%A5%9E%E7%94%B06-11-14&amp;sll=36.5626,136.362305&amp;sspn=49.362065,65.742187&amp;ie=UTF8&amp;t=h&amp;z=16" target="_blank">〒101-0021 東京都千代田区外神田6丁目11-14</a></p>
      <p class="access">東京メトロ銀座線末広町駅4番出口より徒歩1分<br>
      東京メトロ千代田線湯島駅6番出口より徒歩3分<br>
      都営大江戸線上野御徒町駅A1番出口より徒歩6分<br>
      JR御徒町駅南口より徒歩7分<br>
      JR秋葉原駅電気街口より徒歩8分<br>
      JR御茶ノ水駅聖橋口より徒歩15分</p>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d404.988881926466!2d139.77185998386827!3d35.703806325949735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c1fae866f2d%3A0xeb6e0b455920273b!2z44CSMTAxLTAwMjEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy65aSW56We55Sw77yW5LiB55uu77yR77yR4oiS77yR77yU!5e0!3m2!1sja!2sjp!4v1516221836853"></iframe>
  </div>
</section>
