<section id="entry">
  <h1>Entry</h1>
  <h2>entry outline</h2>
  <p class="h-ruby margin-bottom-40">募集要項</p>
  <div class="container">
    <h4>参加資格</h4>
    <p class="margin-bottom-40">卒業・修了制作を行う人<br>
    または、学部1〜3年生・院1年生でそれに準ずる作品を制作する人</p>

    <h4>出展料</h4>
    <p class="margin-bottom-40">15,000円</p>

    <h4>作品ジャンル</h4>
    <p class="margin-bottom-40">オールジャンル<br>
    プロダクト、ファインアート、
    グラフィック、工芸、映像、
    服飾、建築ランドスケープ、
    ダンス、メディアアートなど</p>

    <h4>展示会場について</h4>
    <ul class="margin-bottom-40">
      <li>展示会場は、天井、壁、床、全面が真っ白なホワイト・キューブの空間と、<br>
      それに隣接する、床のみ木目を使用した空間の2種類があります。(詳しくは会場紹介をご覧ください。)</li>
      <li>真っ白なホワイトキューブの空間については、消灯した暗い展示空間を予定しておりますので、<br>
        映像作品など暗所をご希望の作品はこちらでの展示になるかと思われます。</li>
      <li>作品の展示位置、会場レイアウトはこちらで決めさせていただきますので、ご了承ください。</li>
    </ul>

    <h4>展示作品のサイズ規定について</h4>
    <ul class="margin-bottom-40">
      <li>高さ:2.7m以下</li>
      <li>展示面積:約2.7mx2.7m以内(規定サイズを超える作品の場合はご相談ください)</li>
    </ul>

    <h4>備品について</h4>
    <p class="margin-bottom-40">基本的に作品展示に必要な備品(プロジェクター、モニター、延長ケーブルの類や、虫ピン、釘、テープなどの消耗品、ドライバー、ドリルなどの工具ほか)は全て出展者様でご用意いただきますようお願いいたします。</p>

    <h4>展示台について</h4>
    <p class="margin-bottom-40">展示台は少数のご用意がございますが、原則持ち込みをお願いいたします。<br>
    どうしても展示台の貸し出しが必要な場合は、希望とされる展示台のサイズ及び素材をご連絡いただき、<br>
    ご希望に添える展示台のご用意があった場合にのみ貸し出しとさせていだきます。<br>
    なお、数に限りがございますので、先着順となりますことをご了承ください。</p>

    <h4>展示方法について</h4>
    <ul>
      <li>主な展示パターンは以下の通りです。下記に該当しない展示方法を希望される場合は個別にご相談ください。</li>
      <li>壁面・床面などへの貼り付けを行う場合は、必ず会場施設に面する部分に養生テープを貼った上に他の接着剤をご利用ください。
      (カッティングシートは可、ひっつき虫は不可)なお、テープ・接着剤の類は出展者様でご用意をお願いいたします。</li>
      <li>壁面への貼り付けの際は、展示物が落下する恐れがあるため虫ピンなどの併用をおすすめします。</li>
      <li>壁面は釘・虫ピン・ビスなどの利用が可能です。床面への穴あけ(釘などの使用)はできません。</li>
      <li>吊り下げをご希望の方は会場に元よりある天井穴(60-80cm間隔で等間隔にあります)<br>
      およびダクトレールなどを利用していただくこととなるため、展示可能な重さに限界があります。<br>
      ご希望の方は必ずデータシートに重さ及び吊り下げ方法のご記入をお願いします。</li>
    </ul>

    <p class="margin-bottom-40">※会場は火気・水気・異臭の発生する可能性のあるものは厳禁となります。</p>

    <h4>キャプションについて</h4>
    <p class="margin-bottom-40">TETSUSON2018スタッフより氏名、学校名、作品名などを記載したキャプションを統一でご用意させていただきます。</p>

    <h4>電波状況について</h4>
    <p class="margin-bottom-40">有線でのご案内をしております。希望の方はデータシートにご記入の上ご相談ください。(当会場で無線をご利用の場合は電波が安定を保証できません)</p>

    <h4>音の出る展示作品について</h4>
    <ul class="margin-bottom-40">
      <li>映像作品は他の映像作品と隣接する場合がありますので、他の作品の音が気になる方はヘッドホンのご用意をお願いします。</li>
      <li>大きな音の出る展示作品の場合は、他の出展者様の作品展示との関係上ご遠慮いただく場合がございます。<br>
        あらかじめご了承ください。</li>
    </ul>

    <h4>搬入・搬出にあたって</h4>
    <ul class="margin-bottom-40">
      <li>搬入は3/14(水)・3/15(木)8:00̃20:30(21:00完全撤収)です。</li>
      <li>お車での搬入・搬出をご希望の場合は2/23までのご連絡をお願いします。</li>
      <li>原則出展者様による直接搬入・搬出ですが、どうしても都合が合わず郵送を希望される方は個別にご相談ください。</li>
      <li>搬入出に使用する梱包材のお預かりについて、ダンボールなど大きなものは畳んだ状態でのお預かりとなります。<br>
      その際使用するガムテープなどはご持参ください。また、梱包材は他の出展者さまの物と混同する恐れがあるため、<br>
      なるべくおまとめの上、必ずお名前を明記いただきますようお願いいたします。</li>
      <li>畳めない大きな梱包材を持ち込み予定の方は事前にご相談ください</li>
    </ul>

    <h4>ゴミ処理について</h4>
    <p class="margin-bottom-40">搬入・搬出等で出たゴミは出展者様ご自身でお持ち帰りくださりますようお願いいたします。<br>
      もしその場での廃棄をご希望の方はご相談ください。有料にてご案内いたします。</p>

    <h4>出展料の支払いについて</h4>
    <p class="margin-bottom-40">現金振り込みとなります。なお、その際の手数料は出展者様にご負担いただきますようお願い申し上げます。</p>

    <p class="margin-bottom-40">ご質問などございましたら下記メールアドレスまでお気軽にご連絡ください。<br>
    <a target="_blank" href="mailto:tetsuson2018shuttensha@gmail.com">tetsuson2018shuttensha@gmail.com</a>
    </p>

    <div class="btn-container">
      <div class="btn"><a href="/form.html">エントリー</a></div>
    </div>
  </div>
</section>
