<section id="event">
  <h1>EVENT</h1>
  <h3 class="font-english font-xxlarge margin-bottom-0">talk event</h3>
  <p class="h-ruby margin-bottom-40">トークイベント</p>

  <div class="container talk-container">
    <div class="talk-block">
      <h5>opning talk</h5>
      <p class="h-ruby margin-bottom-20">オープニングトーク</p>
      <p class="talk-description">出展者のみなさまとスタッフ、OBOGとの交流のための<br>
      18:00から 3331 Arts Chiyoda コミュニティスペースにて<br>
      オープニングパーティーを開催いたします。<br>
      審査員の発表は1月中を予定しております。<br>
      楽しみにお待ちください！</p>
      <p class="time">3 月 17日  (Thu)</p>
    </div>

    <div class="talk-block">
      <h5>garally talk</h5>
      <p class="h-ruby margin-bottom-20">ギャラリートーク</p>
      <p class="talk-description">出展者のみなさんに作品の紹介をしていただきます。<br>
      それぞれの作品には<br class="is-sp">どんな想いが込められているのでしょうか？<br>
      日韓の通訳もつきますので、作品への理解を深め、<br>
      よりTETSUSON2018を楽しんでいただくために<br>
      是非お役立てください！</p>
      <p class="time">3月16日(Fri) / 3月18日(Sun)</p>
    </div>
  </div>

  <h3 class="font-english font-xxlarge margin-bottom-0">competition</h3>
  <p class="h-ruby margin-bottom-40">公開審査</p>
    <div class="container competition-container text-center">
    <p>現在活躍中のデザイナーや建築家、アーティストの方々をお呼びしての作品講評・審査会を行います。</p>
    <div class="compe-image-container">
      <div class="images-block">
        <img src="assets/images/compe/compe-01.png">
        <span>巡回審査(プレゼンテーション)</span>
      </div>
      <div class="images-block">
        <img src="assets/images/compe/compe-02.png">
        <span>公開ディスカッション</span>
      </div>
      <div class="images-block">
        <img src="assets/images/compe/compe-03.png">
        <span>審査員賞の決定</span>
      </div>
    </div>
    <p>当日正午より、出展者の皆様の作品を、一人一人<br class="is-sp">各審査員様にプレゼンテーションしていただきます。<br>
    その際、審査員の方々には<br class="is-sp">簡単な講評も行っていただきます。<br>
    こちらの各出展者様の作品の巡回審査を終えたのち、<br class="is-sp">夕方より審査員の方々で<br class="is-sp">公開ディスカッションを行っていただき,<br>
    各審査員賞を決定いたします。</p>
    <p>普段あまり講評していただくことのない、他分野の<br class="is-sp">プロからのご意見をお聞きすることができます。<br>
    この機会にぜひご参加くださいませ。<br class="is-sp">なお、全て一般の方々にもご覧いただけますので、<br class="is-sp">みなさまぜひご来場ください!<br>
    (韓国出展者様の作品に関しては全て通訳がつきます)</p>
    <p class="compe-time"><span>3月17日(Sat) 12:00-20:00</span></p>
    <table class="comp-timetable">
      <tr>
        <td class="time">12:00-17:30</td>
        <td class="description">巡回審査</td>
      </tr>
      <tr>
        <td class="time">18:00-20:00</td>
        <td class="description">公開ディスカッション、<br class="is-sp">審査員賞決定・表彰</td>
      </tr>
    </table>
  </div>
  <h3 class="font-english font-xxlarge margin-bottom-0">schedule</h3>
  <p class="h-ruby margin-bottom-40">スケジュール</p>
  <div class="container">
    <p>開催期間中のイベントスケジュールです。</p>
  </div>

  <h2>event outline</h2>
  <h3>アクセス</h3>
  <div class="container">
    <div>
      <p>3331 Arts Chiyoda - メインギャラリー
      〒101-0021 東京都千代田区外神田6丁目11-14</p>
      <p>東京メトロ銀座線末広町駅4番出口より徒歩1分<br>
      東京メトロ千代田線湯島駅6番出口より徒歩3分<br>
      都営大江戸線上野御徒町駅A1番出口より徒歩6分<br>
      JR御徒町駅南口より徒歩7分<br>
      JR秋葉原駅電気街口より徒歩8分<br>
      JR御茶ノ水駅聖橋口より徒歩15分</p>
    </div>
  </div>
  <h3>開催期間</h3>
  <div class="container">
    2018 年 3 月 16 日(金)〜19 日(月) 11:00〜20:00<br>
    (3月14日、15日 搬入日、3月20日 搬出日とする)
  </div>
  <h3>会場紹介</h3>
  <div class="container">
    <p>3331 Arts Chiyoda - メインギャラリー<br>
    <a href="http://www.3331.jp/">www.3331.jp/</a><br>
    入場無料</p>
  </div>
</section>
