<section id="event">
  <h1>EVENT</h1>


  <h3 class="font-english font-xxlarge margin-bottom-0">opning talk</h3>
  <p class="h-ruby margin-bottom-40">オープニングパーティー</p>
  <div class="container">
    <img src="assets/images/event/event-opning-party.jpg">
    <p>出展者のみなさまとスタッフ、OBOGとの交流のための<br>
    18:00から 3331 Arts Chiyoda コミュニティスペースにて<br>
    オープニングパーティーを開催いたします。<br>
    審査員の発表は1月中を予定しております。<br>
    楽しみにお待ちください！</p>
    <p class="time">3 月 15日 (Thu)  18:00-20:00</p>
  </div>

  <h3 class="font-english font-xxlarge margin-bottom-0">garally talk</h3>
  <p class="h-ruby margin-bottom-40">ギャラリートーク</p>
  <div class="container">
    <img src="assets/images/event/event-garally-talk.jpg">
    <p>出展者のみなさんに作品の紹介をしていただきます。<br>
    それぞれの作品には<br class="is-sp">どんな想いが込められているのでしょうか？<br>
    日韓の通訳もつきますので、作品への理解を深め、<br>
    よりTETSUSON2018を楽しんでいただくために<br>
    是非お役立てください！</p>
    <p class="time">3月16日(Fri) / 3月18日(Sun)</p>
  </div>


  <h3 class="font-english font-xxlarge margin-bottom-0">competition</h3>
  <p class="h-ruby margin-bottom-40">公開審査</p>
    <div class="container competition-container text-center">
    <p>現在活躍中のデザイナーや建築家、アーティストの方々をお呼びしての作品講評・審査会を行います。</p>
    <div class="compe-image-container">
      <div class="images-block">
        <img src="assets/images/event/compe-01.png">
        <span>巡回審査(プレゼンテーション)</span>
      </div>
      <div class="images-block">
        <img src="assets/images/event/compe-02.png">
        <span>公開ディスカッション</span>
      </div>
      <div class="images-block">
        <img src="assets/images/event/compe-03.png">
        <span>審査員賞の決定</span>
      </div>
    </div>
    <p>当日正午より、出展者の皆様の作品を、一人一人<br class="is-sp">各審査員様にプレゼンテーションしていただきます。<br>
    その際、審査員の方々には<br class="is-sp">簡単な講評も行っていただきます。<br>
    こちらの各出展者様の作品の巡回審査を終えたのち、<br class="is-sp">夕方より審査員の方々で<br class="is-sp">公開ディスカッションを行っていただき,<br>
    各審査員賞を決定いたします。</p>
    <p class="margin-bottom-40">普段あまり講評していただくことのない、他分野の<br class="is-sp">プロからのご意見をお聞きすることができます。<br>
    この機会にぜひご参加くださいませ。<br class="is-sp">なお、全て一般の方々にもご覧いただけますので、<br class="is-sp">みなさまぜひご来場ください!<br>
    (韓国出展者様の作品に関しては全て通訳がつきます)</p>
    <p class="compe-time"><span>3月17日(Sat) 12:00-20:00</span></p>
    <table class="comp-timetable">
      <tr>
        <td class="time">12:00-17:30</td>
        <td class="description">巡回審査</td>
      </tr>
      <tr>
        <td class="time">18:00-20:00</td>
        <td class="description">公開ディスカッション、<br class="is-sp">審査員賞決定・表彰</td>
      </tr>
    </table>
  </div>
  <!-- <h3 class="font-english font-xxlarge margin-bottom-0">schedule</h3>
  <p class="h-ruby margin-bottom-40">スケジュール</p>
  <div class="container">
    <p>開催期間中のイベントスケジュールです。</p>
  </div> -->
</section>
