<footer class="footer">
  <div class="banner-container">
    <a href=''>
      <img src="../assets/images/sponser/design-girl-banner.jpg">
    </a>
    <a href=''>
      <img src="../assets/images/sponser/campfire_banner.jpg">
    </a>
  </div>

  <div class="footer-container clearfix">
    <div class="contact-container l-left">
      <p>一般用アドレス: <a href="mailto:tetsuson2018@gmail.com">tetsuson2018@gmail.com</a></p>
      <p>出展者用アドレス: <a href="mailto:tetsuson2018uketsuke@gmail.com">tetsuson2018uketsuke@gmail.com</a></p>
    </div>

    <div class="sns-container l-right">
      <a href="https://www.instagram.com/tetsuson2018/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/tetsuson2018/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/tetsuson2018" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
