<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <a href="/"><img src="assets/images/header-logo.png"></a>
    </div>
    <input id="nav-input" type="checkbox" class="nav-input unshown">
    <label class="nav-open" for="nav-input">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <label for="nav-input" class="nav-close unshown"></label>
    <nav class="header-nav">
      <ul>
        <li class="is-sp"><a href="/">top</a></li>
        <li><a href="event.html">event</a></li>
        <li><a href="sponser.html">sponsor</a></li>
        <li><a href="staff.html">staff</a></li>
        <li><a href="access.html">access</a></li>
        <li><a href="entry.html">entry</a></li>
      </ul>
    </nav>
  </div>
</header>
