<h1>SPONSER</h1>
<div class="contaienr">
  <h4>TETSUSON2017にご協賛していただける方へ</h4>
  <p>TETSUSONとは、分野・大学・国などのあらゆる枠を超えて集った卒業制作の展示を行う、卒業制作公募展です。 <br>
  2001年に発足して以来、すべて学生の手で運営されており、2002年にはgood design賞を受賞しております。<br>
  つきましては、誠に恐縮ではございますが、本趣旨にご賛同いただき、是非ともご協賛を賜りますようお願い申し上げます。<br>
  代表 成瀬</p>
  <p>協賛のご連絡先はこちらへ <a href="mailto:tetsuson2018shuttensha@gmail.com">tetsuson2018shuttensha@gmail.com</a></p>
</div>
