<section id="staff">
  <h1>STAFF</h1>
  <div class="container text-center">
    <p class="line-40 margin-bottom-20">TETSUSON2018を運営を行っているメンバーです。<br>
    全国の学生から有志の学生が集まっています</p>
  </div>
  <h2>representative</h2>
  <p class="h-ruby margin-bottom-40">代表班</p>
  <div class="container text-center">
    <p class="line-40 margin-bottom-20">各班をまとめ運営の軸となる班です。</p>
    <div class="staff-container margin-bottom-20">
      <div class='staff-block'>
        <img src='assets/images/staff/成瀬駿汰_代表.png'>
        <div class='staff-description'>
          <span class='staff-name'>成瀬駿汰</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/高籏礼子_代表班.png'>
        <div class='staff-description'>
          <span class='staff-name'>高籏礼子</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/山田留梨子_会場.png'>
        <div class='staff-description'>
          <span class='staff-name'>山田留梨子</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/岡山花観＿広報班.PNG'>
        <div class='staff-description'>
          <span class='staff-name'>岡山花観</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/稲葉琴音_制作.png'>
        <div class='staff-description'>
          <span class='staff-name'>稲葉琴音</span>
        </div>
      </div>

    </div>
  </div>
  <h2>venue</h2>
  <p class="h-ruby margin-bottom-40">会場班</p>
  <div class="container text-center">
    <p class="line-40 margin-bottom-20">会場レイアウトや出展者対応を担当する班です。</p>
    <div class="staff-container margin-bottom-40">
      <div class='staff-block'>
        <img src='assets/images/staff/山田留梨子_会場.png'>
        <div class='staff-description'>
          <span class='staff-name'>山田留梨子</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/宇佐美日苗_会場班.JPG'>
        <div class='staff-description'>
          <span class='staff-name'>宇佐美日苗</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/境田絵美_会場.png'>
        <div class='staff-description'>
          <span class='staff-name'>境田絵美</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/田山結衣_会場班.PNG'>
        <div class='staff-description'>
          <span class='staff-name'>田山結衣</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/野田恵由_会場.png'>
        <div class='staff-description'>
          <span class='staff-name'>野田恵由</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/吉川友菜＿会場班.PNG'>
        <div class='staff-description'>
          <span class='staff-name'>吉川友菜</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/松島千晶_会場.png'>
        <div class='staff-description'>
          <span class='staff-name'>松島千晶</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/大高龍河_広報・会場.PNG'>
        <div class='staff-description'>
          <span class='staff-name'>大高龍河</span>
        </div>
      </div>
    </div>
  </div>
  <h2>public relations</h2>
  <p class="h-ruby margin-bottom-20">広報班</p>
  <div class="container text-center">
    <p class="line-40 margin-bottom-20">SNSや広報物を用いた広報を担当する班です。</p>
    <div class="staff-container margin-bottom-40">
      <div class='staff-block'>
        <img src='assets/images/staff/岡山花観＿広報班.PNG'>
        <div class='staff-description'>
          <span class='staff-name'>岡山花観</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/大高龍河_広報・会場.PNG'>
        <div class='staff-description'>
          <span class='staff-name'>大高龍河</span>
        </div>
      </div>
    </div>
  </div>
  <h2>production</h2>
  <p class="h-ruby margin-bottom-20">制作班</p>
  <div class="container text-center">
    <p class="line-40 margin-bottom-20">広報物全般の制作を担当する班です。</p>
    <div class="staff-container margin-bottom-40">
      <div class='staff-block'>
        <img src='assets/images/staff/稲葉琴音_制作.png'>
        <div class='staff-description'>
          <span class='staff-name'>稲葉琴音</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/山下萌音_制作班.png'>
        <div class='staff-description'>
          <span class='staff-name'>山下萌音</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/加藤優奈_WEB制作班.jpg'>
        <div class='staff-description'>
          <span class='staff-name'>加藤優奈</span>
        </div>
      </div>
      <div class='staff-block'>
        <img src='assets/images/staff/上田すなお_web制作班.jpg'>
        <div class='staff-description'>
          <span class='staff-name'>上田すなお</span>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
$(function(){
  $('.staff-block').on({
    'mouseenter':function(){
      $(this).find('.staff-description').fadeIn()
    },
    'mouseleave':function(){
      $(this).find('.staff-description').fadeOut()
    }
  });
});
</script>
