<section id="top">
  <div class="mv-container">
    <img class="img-main-logo" src="assets/images/main-logo.png" alt="logo">
  </div>

  <h2>tetsuson</h2>
  <div class="container">
    <p class="about-tetsuson">分野・大学・国などのあらゆる枠を超えて集った<br>
    卒業制作の展示を行う、卒業制作合同展です。<br>
    2001 年度から毎年 3 月に関東で開催され、<br>
    今年度で 18 年目を迎える展示会です。 <br>
    企画・運営は全て、全国から集まった有志の<br class="is-sp">学生スタッフが行っています。
    </p>
  </div>

  <h2>photo</h2>
  <p class="text-center">過去のTETSUSONや運営、撮影の様子です。</p>
  <div class="slick slider">
    <img src='assets/images/past/img1.jpg'>
    <img src='assets/images/past/img2.jpg'>
    <img src='assets/images/past/img3.jpg'>
    <img src='assets/images/past/img4.jpg'>
    <img src='assets/images/past/img5.jpg'>
    <img src='assets/images/past/img6.jpg'>
    <img src='assets/images/past/img7.jpg'>
    <img src='assets/images/past/img8.jpg'>
    <img src='assets/images/past/img9.jpg'>
    <img src='assets/images/past/img10.jpg'>
  </div>

  <h2>infomation</h2>
  <div class="container">
  <h4>開催期間</h4>
  <p>2018 年 3 月 16 日（金）〜 3 月 19 日（月） 11：00 〜 20：00</p>
  <p class="margin-bottom-40 font-small">搬入：3月14日（水）、15日（木） / 搬出：3月20 日（火）</p>
  <h4>開催場所</h4>
  <p>3331 Arts Chiyoda - メインギャラリー</p>
  <p><a href="http://www.3331.jp/" target="_blank">www.3331.jp</a></p>
  <p>〒101-0021 東京都千代田区外神田 6 丁目 11-14</p>
  <p class="margin-bottom-20">東京メトロ銀座線末広町駅徒歩 1 分 /JR 秋葉原駅電気街口徒歩 8 分</p>
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d404.988881926466!2d139.77185998386827!3d35.703806325949735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c1fae866f2d%3A0xeb6e0b455920273b!2z44CSMTAxLTAwMjEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy65aSW56We55Sw77yW5LiB55uu77yR77yR4oiS77yR77yU!5e0!3m2!1sja!2sjp!4v1516221836853" frameborder="0"  allowfullscreen></iframe>
  </div>
  <h3>イベント紹介</h3>
  <div class="container event-discription">
    <div class="event-block l-relative">
      <div class="l-center">
        <p class="time">3/15(Thu) 18:00-20:00</p>
        <p class="theme">オープニングパーティー</p>
        <p class="place">in コミュニティースペース</p>
      </div>
    </div>
    <div class="event-block l-relative">
      <div class="l-center">
        <p class="time">3/17(Sat) 12:00 -20:00</p>
        <p class="theme">公開審査</p>
        <p class="place">in コミュニティースペース<br>
        / メインギャラリー</p>
      </div>
    </div>
    <div class="event-block l-relative">
      <div class="l-center">
        <p class="time">3/16(Fri)・18(San)</p>
        <p class="theme">ギャラリートーク</p>
        <p class="place">in メインギャラリー</p>
      </div>
    </div>
  </div>
</section>
<script>
$('.slick').slick({
    centerMode: true,
    slidesToShow: 3,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: false,
    responsive: [
    {
      breakpoint: 750,
      settings: {
        slidesToShow: 1,
      }
    }]
  });
</script>
