<section id="top">
  <div class="mv-container">
    <img class="img-main-logo" src="assets/images/main-logo.png">
  </div>

  <h2>tetsuson</h2>
  <div class="container">
    <p class="about-tetsuson">分野・大学・国などのあらゆる枠を超えて集った<br>
    卒業制作の展示を行う、卒業制作合同展です。<br>
    2001 年度から毎年 3 月に関東で開催され、<br>
    今年度で 18 年目を迎える展示会です。 企画・運営は全て、<br>
    全国から集まった有志の学生スタッフが行っています。<br>
    </p>
  </div>

  <h2>photo</h2>
  
</section>
