<section id="top">
  <div class="mv-container">
    <img class="img-main-logo" src="assets/images/main-logo.png" alt="logo">
  </div>

  <h2 class="japanese">出展者募集中</h2>
  <div class="container">
    <p class="text-center margin-bottom-40">
      分野・大学を越えたつながりを作りたい方、卒業制作の発表の場が欲しい方、出展お待ちしております。
    </p>
    <p class="text-center">開催期間 : 2018 年 3 月 16 日（金）〜 3 月 19 日（月） 11：00 〜 20：00</p>
    <p class="margin-bottom-20 font-small text-center">( 搬入：3月14日（水）、15日（木） / 搬出：3月20 日（火）)</p>
    <p class="text-center">開催場所 : 3331 Arts Chiyoda - メインギャラリー</p>
    <p class="margin-bottom-40 font-small text-center">〒101-0021 東京都千代田区外神田 6 丁目 11-14</p>
  </div>
  <div class="btn-container margin-bottom-40">
    <div class="btn"><a href="/form.html">エントリー</a></div>
  </div>

  <h2>tetsuson</h2>
  <div class="container margin-bottom-20">
    <p class="about-tetsuson">分野・大学・国などのあらゆる枠を超えて集った<br>
    卒業制作の展示を行う、卒業制作合同展です。<br>
    2001 年度から毎年 3 月に関東で開催され、<br>
    今年度で 18 年目を迎える展示会です。 <br>
    企画・運営は全て、全国から集まった有志の<br class="is-sp">学生スタッフが行っています。
    </p>
  </div>

  <div class="slick slider">
    <img src='assets/images/past/img1.jpg'>
    <img src='assets/images/past/img2.jpg'>
    <img src='assets/images/past/img3.jpg'>
    <img src='assets/images/past/img4.jpg'>
    <img src='assets/images/past/img5.jpg'>
    <img src='assets/images/past/img6.jpg'>
    <img src='assets/images/past/img7.jpg'>
    <img src='assets/images/past/img8.jpg'>
    <img src='assets/images/past/img9.jpg'>
    <img src='assets/images/past/img10.jpg'>
  </div>

  <h2>theme</h2>
  <div class="container">
    <p class="text-center margin-bottom-40 line-40">
      今年度の TETSUSON テーマは「結ぶ」。<br>
      出展者様、お客様、企業の方々、<br class="is-sp">会場を貸していただける方々、<br class="is-pc">
      我々スタッフ等、 <br class="is-sp">様々な人との出会いやつながりが<br class="is-sp"> TETSUSON にはあります。<br>
      そしてこの結びつきはこれから先も<br class="is-sp">色々な可能性を秘めています。<br>
      TETSUSON2018 はこの大切なご縁を<br class="is-sp">結ぶ場でありたい。<br>
      そんな願いを込めたテーマです。<br>
    </p>
    <p class="text-center margin-bottom-40 line-40">
      テーマより、人それぞれが時に喜び、<br class="is-sp">時に苦しんで歩んできた道を1本の紐に例え、<br>
      TETSUSONという作品で結びついていることを表現し、<br>
      今年度のメインビジュアルとしました。
    </p>
  </div>

  <h2 class="japanese">審査員</h2>
  <div class="container">
    <div class="judge-container">
      <div class="judge-block">
        <div class="judge-img">
          <img src='assets/images/event/judge-mitomi.jpg'>
        </div>
        <div class="judge-text">
          <p class="judge-name">三富 貴峰</p>
          <p class="judge-position">プロダクトデザイナー</p>
          <p class="judge-description">
            ・東京都立大学工学部卒業 専門学校アーバンデザインカレッジ卒業<br>
            ・株式会社GKダイナミックス デザインディレクター<br>
            GKはメーカーに属さないフリーランスのデザインオフィスであるため、私の担当する領域は広く、今までに電子機器、産業機械、移動具、スポーツ用品、治療用装具、福祉用品などのコンセプト、機構／造形デザインをおこなってきました。そのなかでも個人的にライフワークとしているのは、身体に装着する道具の研究です。人間の身体は複雑であり、その構造を考えながらデザインしますが、なかなか最善の解にはたどりつけません。どうすれば身体と道具が一体となったデザインができるか、プロジェクトのたびに勉強です。
          </p>
        </div>
      </div>
      <div class="judge-block">
        <div class="judge-img">
          <img src='assets/images/event/judge-watarai.jpg'>
        </div>
        <div class="judge-text">
          <p class="judge-name">わたらい ももすけ</p>
          <p class="judge-position">SNSクリエイター</p>
          <p class="judge-description">
            SNSを基盤に写真、映像、イラスト、文章などを投稿し活動。<br>
          「趣味を仕事に」というコンセプトのもと、趣味で始めたイラストや写真などを仕事につなげ、現在では書籍のカバーイラスト、アーティストの宣材写真の撮影からPV制作、CDジャケットのデザイン等幅広く手がけており、2017年11月には自身初となる書籍（エッセイ本）を株式会社KADOKAWAより出版。</p>
        </div>
      </div>
    </div>
  </div>

  <h2>infomation</h2>
  <div class="container">
    <h4>開催期間</h4>
    <p>2018 年 3 月 16 日（金）〜 3 月 19 日（月） 11：00 〜 20：00</p>
    <p class="margin-bottom-40 font-small">搬入：3月14日（水）、15日（木） / 搬出：3月20 日（火）</p>
    <h4>開催場所</h4>
    <p>3331 Arts Chiyoda - メインギャラリー</p>
    <p><a href="http://www.3331.jp/" target="_blank">www.3331.jp</a></p>
    <p>〒101-0021 東京都千代田区外神田 6 丁目 11-14</p>
    <p class="margin-bottom-20">東京メトロ銀座線末広町駅徒歩 1 分 /JR 秋葉原駅電気街口徒歩 8 分</p>
    <h4>イベント</h4>
    <div class="event-discription">
      <a href="event.html#opning">
        <div class="event-block l-relative">
          <div class="l-center">
            <p class="time">3/15(Thu) 18:00-20:00</p>
            <p class="theme">オープニングパーティー</p>
            <p class="place">in コミュニティースペース</p>
          </div>
        </div>
      </a>
      <a href="event.html#competition">
        <div class="event-block l-relative">
          <div class="l-center">
            <p class="time">3/17(Sat) 12:00 -20:00</p>
            <p class="theme">公開審査</p>
            <p class="place">in コミュニティースペース<br>
            / メインギャラリー</p>
          </div>
        </div>
      </a>
      <a href="event.html#garally">
        <div class="event-block l-relative">
          <div class="l-center">
            <p class="time">3/16(Fri)・18(San)</p>
            <p class="theme">ギャラリートーク</p>
            <p class="place">in メインギャラリー</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<script>
$('.slick').slick({
    centerMode: true,
    slidesToShow: 3,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 2000,
    arrows: false,
    responsive: [
    {
      breakpoint: 750,
      settings: {
        slidesToShow: 1,
      }
    }]
  });
</script>
