@media (min-width: 750px) {
  .header {
    width: 100%;
    border-bottom: 1px solid $base-font-color;

    .header-container {
      max-width: 960px;
      margin: 0 auto;
      padding: 16px 0;

      .logo-container {
        display: inline-block;

        img {
          height: 36px;
          padding: 2px 0;
        }
      }

      .header-nav {
        display: inline-block;
        float: right;

        ul {
          li {
            display: inline-block;
            padding: 0 20px;
            line-height: 40px;
            font-size: 18px;
            position: relative;

            &:last-child {
              padding-right: 0;
            }

            a {
              color: $base-font-color;
              font-family: $japanese-font;
              text-decoration: none;
              display: inline-block;
              width: 100%;

              &:hover:after {
                content: "";
                display: block;
                width: 32px;
                height: 2px;
                margin: 0 auto;
                background-color: $base-font-color;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .header {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid $base-font-color;

    .header-container {
      padding: 12px 20px;

      .logo-container {
        display: inline-block;

        img {
          height: 30px;
        }
      }

      .nav-open {
        display: inline-block;
        float: right;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid $base-font-color;
        padding: 6px 4px;

        span {

          position: absolute;
          height: 2px;/*線の太さ*/
          width: 20px;/*長さ*/
          background: $base-font-color;
          display: block;
          content: '';
          cursor: pointer;

          &:nth-of-type(2) {
            top: 13px;
          }
          &:nth-of-type(3) {
            top: 20px;
          }
        }
      }

      .header-nav {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;/*最前面に*/
        width: 100%;/*右側に隙間を作る（閉じるカバーを表示）*/
        background: #fff;/*背景色*/
        transition: .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);/*左に隠しておく*/

        ul {
          li {
            border-bottom: 1px solid $base-font-color;
            text-align: center;
            padding: 10px 0;
          }
        }
      }

      .nav-input {
        &:checked ~ .header-nav {
          -webkit-transform: translateY(54px);
          transform: translateY(54px);/*中身を表示（右へスライド）*/
        }
      }
    }
  }
}
