#event {
  .competition-container {
    p {
      margin-bottom: 16px;
    }

    .compe-image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -webkit-justify-content: center;

      .images-block {
        width: 240px;
        position: relative;
        margin-bottom: 20px;

        &:first-child,
        &:nth-child(2) {
          margin-right: 40px;
        }

        &:first-child::after,
        &:nth-child(2):after {
          content: ">";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -25px;
          color: #aaa;
          width: 10px;
          height: 10px;
          font-family: "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;
          font-weight: bold;
        }
      }
    }

    .compe-time {
      font-size: 16px;

      span {
        padding: 8px 20px;
        border: 1px double $base-font-color;
      }
    }

    .comp-timetable {
      margin: 0 auto;

      .time {
        vertical-align: top;
        padding-right: 20px;
      }

      .description {
        vertical-align: top;
        text-align: left;

      }
    }
  }

  .access-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -webkit-align-items: flex-end;

    .access-img{
      width: 300px;

      img {
        width: 100%;
      }
    }

    .access-description {
      width: 45%;

      p {
        &.name {
          font-size: 20px;
          margin-bottom: 8px;
        }

        &.address {
          margin-bottom: 20px;
        }
      }
    }
  }

  .gallery-container{
    .gallery-img-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -webkit-justify-content: center;

      img {
        padding: 20px;
      }
    }

    p {
      text-align: center;
    }
  }

  @media(max-width: 750px) {
    .talk-container {
      .talk-block {
        width: 90vw;
        margin-left: 5vw;
        height: 90vw;
        font-size: 12px;
      }
    }

    .compe-image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -webkit-justify-content: center;

      .images-block {
        &:first-child,
        &:nth-child(2) {
          margin-right: 0 !important;
        }

        &:first-child::after,
        &:nth-child(2):after {
          display: none;
        }
      }
    }

    .access-container {
      .access-img,
      .access-description {
        width: 90%;
        text-align: center;
      }
    }
  }
}
