#sponser {
  .container {
    .sponser-img {
      width: 100%;

      a {
        display: block;
        width: 100%;

        img {
          max-width: 600px;
        }
      }
    }

    p{
      line-height: 2.4;
      margin-bottom: 8px;
    }

    .sponser-title {
      font-size: 20px;
      border-bottom: 1px solid $main-theme-color;
      margin-bottom: 20px;
    }
  }
}
