#top {
  .mv-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    background-image: url('../images/main-background.png');
    background-size: cover;
    background-position: center center;

    &:after {
      content: "";
      position: absolute;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      background-color: white;
      opacity: .35;
    }

    .img-main-logo {
      width: 400px;
      position: absolute;
      bottom: calc(5% + 80px);
      right: calc(5% + 80px);
    }
  }

  .about-tetsuson {
    text-align: center;
    line-height: 54px;
  }

  .event-discription {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .event-block {
      width: 290px;
      height: 290px;
      background-position: center;
      background-size: contain;
      border-radius: 50%;
      border: 1px solid #eee;

      &:nth-child(1){
        background-image: url('../images/event/event-o.png');
      }

      &:nth-child(2){
        background-image: url('../images/event/event-c.png');
      }

      &:nth-child(3){
        background-image: url('../images/event/event-g.png');
      }

      p {
        width: 290px;
        text-align: center;

        &.time {
          font-family: $english-font;
          font-size: 20px;
          margin-bottom: 16px;
        }

        &.theme {
          font-size: 20px;
          margin-bottom: 8px;
        }

        &.place {
          font-size: 12px;
        }
      }
    }
  }

  .slick {
    img {
      padding: 20px;
      margin-bottom: 40px;
    }
  }

  .map {
    width: 100%;
    height: 420px;
  }

  @media(max-width: 750px){
    .mv-container {
      height: calc(100vh - 54px);

      .img-main-logo {
        width: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .event-discription {
      .event-block {
        width: 80vw;
        height: 80vw;
        margin-left: 10vw;
        margin-bottom: 20px;
      }
    }
  }
}
