h1 {
  position: relative;
  font-size: 36px;
  padding: 20px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 18px;
  z-index: 1;
  margin-bottom: 40px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 94px;
    top: 0;
    left: 0;
    background-image: url('../images/h1-background.png');
    background-position: center;
    background-size: cover;
    z-index: -2;
  }

  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 74px;
    background-color: rgba(255, 255, 255, .7);
    z-index: -1;
  }
}

h2 {
  position: relative;
  text-align: center;
  font-family: $english-font;
  color: white;
  font-size: 48px;
  z-index: 10;
  margin-bottom: 20px;

  &:after,
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 64%;
    height: 40px;
    z-index: -1;
    opacity: .45;
  }

  &:before {
    right: 0;
    top: 16px;
    background-color: $sub-theme-color;
  }
  &:after {
    left: 0;
    top: 30px;
    background-color: $main-theme-color;
  }
}

h3 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  font-family: $japanese-font;
  margin-bottom: 20px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 4px;
    background-color: $main-theme-color;
    opacity: .8;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.h-ruby {
  text-align: center;
  margin-top: 0;
  letter-spacing: 8px;
  font-size: 8px;
}

h2 + .h-ruby {
  margin-top: -20px;
}

h4 {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  font-family: $japanese-font;
  background-size: contain;
  background-image: url('../images/h-line-background.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

h5 {
  font-family: $english-font;
  font-size: 56px;
  text-align: center;
}

@media(max-width: 750px){
  h2 {
    &:after,
    &:before {
      width: 80%;
    }
  }

  h3 {
    &:after,
    &:before {
      width: 25%;
    }
  }
}
